<%- include('header.ejs')%>
        <div class="container-fluid d-flex justify-content-center align-items-center">
          <div class="card col-lg-6">
                <h5 class="card-title fw-semibold mb-4">Edit Product</h5>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                      
                      <label for="exampleInputEmail1" class="form-label">Product Name</label>
                      <input type="text" value="<%=product.name%>" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <label for="exampleInputPassword1" class="form-label">Price</label>
                      <input type="text" value="<%=product.price%>" name="price" class="form-control" id="exampleInputPassword1">
                      
                      <label for="exampleInputPassword1" class="form-label mt-3">Category : </label>
                      <select class="mx-3" name="category">
                        <%for(let i=0;i<categoryData.length;i++){%>
                          <%if(categoryData[i].name==product.category){%>
                            <option value="<%=categoryData[i].name%>" selected><%=categoryData[i].name%></option>
                          <%}else{%>
                            <option value="<%=categoryData[i].name%>"><%=categoryData[i].name%></option>
                          <%}}%>
                        </select>
                        <br>
                        <label for="exampleInputPassword1" class="form-label mt-3">Description</label>
                      <input value="<%=product.description%>" type="text"name="description" class="form-control" id="exampleInputPassword1">
                      
                      
                      <label for="exampleInputPassword1" class="form-label">Stock</label>
                      <input value="<%=product.stock%>" type="text" name="stock" class="form-control" id="exampleInputPassword1">
                      <label for="exampleInputPassword1" class="form-label">Image</label>
                        <input type="file" name="image" multiple class="form-control" id="exampleInputPassword1">
                      
                      <label for="exampleInputPassword1" class="form-label">Discount</label>
                      
                        <input type="text" value="<%=product.discount%>" name="discount" class="form-control" id="exampleInputPassword1">
                      <label for="exampleInputPassword1" class="form-label m-2">isImageEdit</label>
                      <input type="checkbox"  name="isImageEdit">
                      <br>
                    <button type="submit" class="btn btn-primary mt-2 col-lg-12">Update</button>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center" style="flex-direction: column;">
               <h1 class="text-info">Product images</h1>
                <%for(let i=0;i<product.image.length;i++){%>
                  <img class="img m-3" src="/assets/productImages/<%=product.image[i]%>" alt="">
                  <%}%>
              </div>
              <style>
                .img {
                  width:200px;
                  border-radius: 10px;
                  transition: 0.6s;

                }
                .img:hover {
                  transform: scale(3);
                }
              </style>
            </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
