<%- include('header.ejs') %>
<% async: true %>
<title>
  <% if(typeof title !='undefined'){ %>
    <%=title%>
    <%}
    else{%>
      HomePage
      <%}%>
    
</title>
<link rel="stylesheet" href="assets/css/css_login.css">
<body>
  <div class="login-container">
    <div class="login-box">
      <h4 class="mx-5">Change password</h4>
      <form id="form-login" method="post">
        <div class="form-group">
          <label for="email">Enter password</label>
          <input type="password" class="password" id="password" name="password" required>
        
          <label for="password">Confirm password</label>
          <input  type="password" class="password" id="con_pass" name="con_pass" required>
          <input  type="hidden" value="<%=id%>" name="id" required>
          <font size="2" class="error" style="font-weight: bold;color: red;">
          <%if(typeof message!='undefined'){ %>
            <%=message%>
                <%}%>
          </font>
        </div>
        <input type="checkbox" onchange="showPass()">
        <font size="2" style="font-weight: bold;">Show password</font>
        
        <a onclick="submit()"class="btn btn-login">Change password</a>
      </form>

    </div>
  </div>
  <script>
    function showPass(){
      const password = document.querySelector('.password')
      password.type = password.type=='text'?'password':'text'
    }
    function submit(){
      let con_pass = document.getElementById('con_pass').value;
      let password = document.getElementById('password').value;
      let form = document.getElementById('form-login')
      let error = document.querySelector('.error');
      if(con_pass==''&&password==''){
        error.innerHTML = 'Please fill it'
      }
      else{
        if(con_pass==''){
        error.innerHTML = 'Please enter confirm pass'
      }
      if(password==''){
        error.innerHTML = 'Please enter password'
      }
      else{
        if(con_pass!=''&&password!=''){
        form.submit()
      }
      }
      }
    }
  </script>
</body>
<%- include('footer.ejs') %>
</html>